.pop-works
    .pop-works-container
        h2.pop-works-title Популярные работы
        .pop-works__slider-buttons
                .pop-works__slider-button.pop-works__slider-button-prev
                    +svg('chevron-left', ' pop-works__slider-button-svg')
                .pop-works__slider-button.pop-works__slider-button-next
                    +svg('chevron-right', ' pop-works__slider-button-svg')

        .swiper-container.pop-works__slider-swiper

            .swiper-wrapper
                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="../../assets/images/Rectangle 6-2 copy.png")
                        .pop-works__item-container
                            h3.pop-works__item-title Ручное оштукатуривание стен из газобетона
                            p.pop-works__item-sections
                                span.pop-works__item-section Раздел
                                | /
                                span.pop-works__item-subsection Подраздел
                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    мин
                                    p.pop-works__item-text.pop-works__item-time-title работа
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 4 500 руб
                                    p.pop-works__item-text.pop-works__item-materials-title материалы
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 16 000 руб
                                    p.pop-works__item-text.pop-works__item-price-title стоимость работ



                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="../../assets/images/Rectangle 6-1.png")
                        .pop-works__item-container
                            h3.pop-works__item-title Монтаж розеток
                            p.pop-works__item-sections
                                span.pop-works__item-section Раздел
                                | &nbsp;/&nbsp;
                                span.pop-works__item-subsection Подраздел

                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    мин
                                    p.pop-works__item-text.pop-works__item-time-title работа
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 4 500 руб
                                    p.pop-works__item-text.pop-works__item-materials-title материалы
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 16 000 руб
                                    p.pop-works__item-text.pop-works__item-price-title стоимость работ


                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="../../assets/images/Rectangle 6-2.png")
                        .pop-works__item-container
                            h3.pop-works__item-title Установка потолка
                            p.pop-works__item-sections
                                span.pop-works__item-section Раздел
                                | &nbsp;/&nbsp;
                                span.pop-works__item-subsection Подраздел

                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    мин
                                    p.pop-works__item-text.pop-works__item-time-title работа
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 4 500 руб
                                    p.pop-works__item-text.pop-works__item-materials-title материалы
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 16 000 руб
                                    p.pop-works__item-text.pop-works__item-price-title стоимость работ

