section.pop-works
    .pop-works-container
        h2.pop-works-title Popular services
        .pop-works__slider-buttons
                .pop-works__slider-button.pop-works__slider-button-prev
                    +svg('chevron-left', ' pop-works__slider-button-svg')
                .pop-works__slider-button.pop-works__slider-button-next
                    +svg('chevron-right', ' pop-works__slider-button-svg')

        .swiper-container.pop-works__slider-swiper

            .swiper-wrapper
                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="https://images.unsplash.com/photo-1607400201889-565b1ee75f8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80")
                        .pop-works__item-container
                            h3.pop-works__item-title Service 1
                            p.pop-works__item-sections
                                span.pop-works__item-section Category
                                | /
                                span.pop-works__item-subsection Subcategory
                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    min
                                    p.pop-works__item-text.pop-works__item-time-title work
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-materials-title materials
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-price-title cost of works



                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="https://images.unsplash.com/photo-1599619585749-a6cfd38d358a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                        .pop-works__item-container
                            h3.pop-works__item-title Service 2
                            p.pop-works__item-sections
                                span.pop-works__item-section Category
                                | &nbsp;/&nbsp;
                                span.pop-works__item-subsection Subcategory

                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    min
                                    p.pop-works__item-text.pop-works__item-time-title work
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-materials-title materials
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-price-title cost of works


                .swiper-slide
                    .pop-works__item
                        a.pop-works__working-plan(href="#")
                            +svg('plan')
                        a.pop-works__favorites(href="#")
                            +svg('heart-stroke')
                        img.pop-works__item-photo(src="https://images.unsplash.com/photo-1618832515490-e181c4794a45?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                        .pop-works__item-container
                            h3.pop-works__item-title Service 3
                            p.pop-works__item-sections
                                span.pop-works__item-section Category
                                | &nbsp;/&nbsp;
                                span.pop-works__item-subsection Subcategory

                            .pop-works__item-description
                                .pop-works__description-item.pop-works__item-time 
                                    p.pop-works__item-value.pop-works__item-time-value 
                                        span.pop-works__item-value-numbers    50
                                        span.pop-works__item-value-words    min
                                    p.pop-works__item-text.pop-works__item-time-title work
                                .pop-works__description-item.pop-works__item-materials
                                    p.pop-works__item-value.pop-works__item-materials-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-materials-title materials
                                .pop-works__description-item.pop-works__item-price 
                                    p.pop-works__item-value.pop-works__item-price-value 1 000 $
                                    p.pop-works__item-text.pop-works__item-price-title cost of works

