header.header
    .header__container 
        .header__container-top
            button.header__hamburger-btn-mobile
                .bar1
                .bar2
                .bar3

            a.header__logo(href="index.html") 
                +svg('logo', ' header__logo-svg')


            a.header__location(href='') 
                +svg('map-pin') 
                span.header__location-city Санкт-Петербург



            .header__search-container
                input.header__search-input(type='text' placeholder='Поиск...')
                +svg('search')

            a.header__link-item.header__search-mobile(href="#" target="_blank")
                +svg('search')

            a.header__link-item.header__working-plan(href="#" target="_blank")
                +svg('plan')
                span.header__working-plan-title План работ

            a.header__link-item.header__favorites(href="#" target="_blank")
                +svg('heart-stroke')
                span.header__favorites-title Избранное

            button.header__log-in-btn Войти
            

        .header__navigation-container
         
            navigation.header__navigation.navigation
                button.header__navigation-hamburer-btn.js-hamburger-btn 
                    +svg('grid-fill', ' hamburer-btn--desktop')
                    +svg('grid-stroke', ' hamburer-btn--mobile') 
                    
   
                    .span Каталог
                    +svg('chevron-right', ' hamburer-shevron--mobile')
                a.navigation__item--mobile.navigation__registration-mobile(href="#") 
                    +svg('user')
                    | Вход и регистрация
                a.navigation__item--mobile.navigation__favorites-mobile(href="#") 
                    +svg('heart-stroke')
                    | Избранное
                a.navigation__item--mobile.navigation__plan-mobile(href="#") 
                    +svg('plan')
                    | План работ
                a.navigation__item--mobile.navigation__location-mobile(href="#") 
                    +svg('map-pin')
                    | Санкт-Петербург
                a.navigation__item(href="#") Кухня
                a.navigation__item(href="#") Прихожая
                a.navigation__item(href="#") Ванная
                a.navigation__item(href="#") Гостиная
                a.navigation__item(href="#") Спальня



        .header__location-popup 
            .header__location-popup-question-container
                +svg('map-pin', ' header__location-popup-svg')
                p.header__location-popup-question Ваш город&nbsp;
                    span Санкт-Петербург
                | ?
            .header__location-buttons-container
                button.header__location-button-submit Да, верно
                button.header__location-button-change Выбрать другой