
//========================================
//=======|   HEADER
//========================================

.header{
    width: 100%;




    &__container{
        width: 1312px;
        box-sizing: border-box;
        padding: 0 64px;
        
        border: 1px solid black;
    
        display: flex;
        flex-direction: column;

    }
    &__logo{
        width: 30%;
        display: block;
        &-img{
            width: 100%;
        }
    }

}
//========================================
//=======|   MENU 
//========================================
