
//========================================
//=======|   HEADER
//========================================

.header{
    width: 100%;
    background: $white;
    padding: 0 64px;

    

    &__container {
        position: relative;
        max-width: 1312px;
    
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;


        &-top {
            display: flex;
            align-items: center;

            padding: 16px 0px;
            border-bottom: 1px solid $grey-border;
        }

    }

    .header__hamburger-btn-mobile {
        display: none;
    }

    .hamburer-shevron--mobile {
        display: none;
    }

    .header__logo-svg {
        width: 192px;
        height: 24px;
    }

    &__logo{
        margin-right: 50px;
    }

    &__location {
        display: flex;
        align-items: center;
        position: relative;
        .map-pin {
            width: 20px;
            height: 20px;
            margin-right: 12px;
            stroke: $black;
            stroke-width: 1.66667px;
        }

        &-city {
            @include body-regular;
        }


    }

    &__search-container {
        margin-left: auto;
        margin-right: 23px;
        position: relative;

        .header__search-input {
            padding: 12px;
            padding-right: 40px;
            height: 40px;
            width: 260px;

            border: 1px solid $grey-border;
            box-sizing: border-box;
            border-radius: 6px;
        }

        svg {
            position: absolute;

            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            width: 18px;
            height: 18px;
        }
    }

    &__link-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 25px;


        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        color: #111111;


        & svg {
            width: 20px;
            height: 20px;
            stroke: $black;
            margin-bottom: 6px;
        }

    }

    .header__search-mobile {
        display: none;
    }


    &__log-in-btn {
        cursor: pointer;
        width: 110px;
        height: 40px;
        background-color: transparent;
        border: 1px solid $blue;
        box-sizing: border-box;
        border-radius: 6px;

        &:hover {
            background-color: $blue;
            color: $white;
        }
    }

    &__navigation-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 7px 0;
    }

    &__navigation-hamburer-btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 112px;
        padding-left: 10px;
        padding-right: 12px;
        height: 36px;
        margin-right: 47px;

        background: $blue;
        border: none;
        border-radius: 6px;


        font-family: 'Rubik';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;

        color: $white;
        fill: $white;

        .hamburer-btn--mobile {
            display: none;
        }

        & svg {
            width: 16px;
            height: 16px;
            margin-right: 9px;
        }
    }


    .navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;


        &__item {
            @include subheader;
            position: relative;
            margin-right: 49px;
            cursor: pointer;


            &:hover::after {
                content: '';
                width: 30px;
                width: 100%;
                height: 3px;
                background-color: $blue;

                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .navigation__item--mobile {
            display: none;
        }
    }



    .header__location-popup {
        opacity: 0;
        position: absolute;
        min-width: 324px;
        min-height: 125px;

        z-index: -1;
   /*      top: 39px;
        left: -24px; */

        top: 66px;
        left: 218px;
        padding: 24px;

        background: #FFFFFF;
        border-radius: 4px;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
        
        &::before {
            content: ' ';
            width: 20px;
            height: 20px;
            background-color: #FFFFFF;
            position: absolute;
            top: -5px;
            left: 24px;
            transform: rotate(45deg);

            
        }


        .header__location-popup-question-container {
            display: flex;
            align-items: center;

            .header__location-popup-svg {
                width: 20px;
                height: 20px;
                stroke: $blue;
                stroke-width: 1.66667px;
                margin-right: 12px;
            }

            .header__location-popup-question {
                @include body-regular;
                color: #000;
            }
        }


        .header__location-buttons-container {
            margin-top: 15px;




            .header__location-button-submit {
                @include body-medium;
                line-height: 16px;
                cursor: pointer;
                width: 110px;
                height: 40px;
                background-color: $blue;
                color: $white;
                border: 1px solid $blue;
                box-sizing: border-box;
                border-radius: 6px;
                margin-right: 13px;
                
            }

            .header__location-button-change {
                @include body-medium;
                cursor: pointer;
                line-height: 16px;
                padding: 12px 17px;
                background: transparent;
                border: 1px solid $blue;
                border-radius: 6px;
                
            }
        }



    }

    .header__location-popup--show {
        opacity: 1;
        z-index: 2;
    }

}


@media (max-width: 415px) {


    .header{
        padding: 0;
    
        &__container {
            width: 92%;
    
            &-top {
                display: flex;
                align-items: center;
    
                padding: 17px 0px;
                border: none;
            }
    
        }

        .header__favorites-title,
        .header__working-plan-title {
            display: none;
        }

        .header__search-mobile {
            display: block;
        }

        .header__favorites {
            margin-right: 0;
        }
    
/*         .header__hamburger-btn-mobile {
            cursor: pointer;
            display: block;
            background-color: transparent;
            border: none;
            padding: 0;
            margin-right: 16px;


            svg {
                width: 20px;
                height: 20px;
                
            }
        } */

        .header__hamburger-btn-mobile {
            display: block;
            cursor: pointer;
            background-color: inherit;
            border: none;
            width: 36px;
            padding: 0;
            margin-top: 5px;

            .bar1, .bar2, .bar3 {
                width: 16px;
                height: 2px;
                background-color: white;
                margin: 3px 0;
                transition: 0.4s;
                background-color: black;
               
              }
            .bar2 {
                margin: 0;  
            }
        }

        .change .bar1 {
            transform: rotate( -45deg ) translate(-3px, 4px);
          }
        
          .change .bar2 {
              opacity: 0;
            }
        
        
        .change .bar3 {
            transform: rotate(45deg) translate(-3px, -5px);
          }




    
        .header__logo-svg {
            width: 127px;
            height: 17px;
        }
    
        &__logo{
            margin-right: 50px;
        }
    
        &__location {
            display: none;
   
        }
    
        &__search-container {
            margin-left: auto;
            margin-right: 23px;
            position: relative;
    
            .header__search-input {
                display: none;
            }
    
            svg {
                position: absolute;
    
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 18px;
                height: 18px;
            }
        }
    
        &__link-item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-right: 25px;
            margin-bottom: -6px;
    

    
    
            & svg {
                width: 20px;
                height: 20px;
                stroke: $black;

            }
    
        }
    
    
        &__log-in-btn {
            display: none;
        }
    
        &__navigation-container {
            opacity: 0;
            z-index: -5;
            border: 1px solid red;
            top: 55px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            z-index: 3;
            width: 100vw;
            left: 50%;
            transform: translateX(-50%);
            height: 500px;
            background-color: $light-grey;


        }
    
        &__navigation-hamburer-btn {
            order: 2;
            margin-bottom: 17px;
            position: relative;



            cursor: pointer;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding-left: 10px;
            padding-right: 12px;
            height: 36px;

    
            background: transparent;
            border: none;
            @include body-regular;

            &::after {
                content: '';
                position: absolute;
                left: 44px;
                bottom: -11px;
                height: 1px;
                width: 100%;
                background-color: $grey-border;
            }

            .hamburer-btn--desktop {
                display: none;
            }

            .hamburer-btn--mobile {
                display: block;

                
            }
            .hamburer-shevron--mobile {
                display: block;
                stroke: $black;
                position: absolute;
                right: 10px;
            }
    
            & svg {
                width: 20px;
                height: 20px;
                
                margin-right: 14px;
            }
        }
    
    
        .navigation {
 
            padding: 20px 15px;
    
            &__item {
                    display: none;
            }

            .navigation__item--mobile {
                margin-bottom: 17px;
                position: relative;

                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                padding-left: 10px;
                padding-right: 12px;
               
                height: 36px;
    
        
                background: transparent;
                border: none;
                @include body-regular;


                &:not(:nth-child(5))::after {
                    content: '';
                    position: absolute;
                    left: 44px;
                    bottom: -10px;
                    height: 1px;
                    width: 89%;
                    background-color: $grey-border;
                }
    
                & svg {
                    width: 20px;
                    height: 20px;
                    stroke: $black;
                    margin-right: 14px;
                }

                &.navigation__registration-mobile {
                    order: 1;
                }

                &.navigation__favorites-mobile {
                    order: 3;
                }

                &.navigation__plan-mobile {
                    order: 4;
                }

                &.navigation__location-mobile{
                    order: 5;
                }
            }
        }
    
    

        .header__location-popup--show {
            opacity: 1;
            z-index: 2;
        }


        .header__navigation-container.show {
            opacity: 1;
            z-index: 2;
        }
    
    }

}
//========================================
//=======|   MENU 
//========================================
