header.header
    .header__container 
        .header__container-top
            button.header__hamburger-btn-mobile
                .bar1
                .bar2
                .bar3

            a.header__logo(href="index.html") 
                +svg('logo', ' header__logo-svg')


            a.header__location(href='') 
                +svg('map-pin') 
                span.header__location-city New York



            .header__search-container
                input.header__search-input(type='text' placeholder='Search...')
                +svg('search')

            a.header__link-item.header__search-mobile(href="#" target="_blank")
                +svg('search')

            a.header__link-item.header__working-plan(href="#" target="_blank")
                +svg('plan')
                span.header__working-plan-title Selected services

            a.header__link-item.header__favorites(href="#" target="_blank")
                +svg('heart-stroke')
                span.header__favorites-title Favorites

            button.header__log-in-btn Log in
            

        .header__navigation-container
         
            navigation.header__navigation.navigation
                button.header__navigation-hamburer-btn.js-hamburger-btn 
                    +svg('grid-fill', ' hamburer-btn--desktop')
                    +svg('grid-stroke', ' hamburer-btn--mobile') 
                    
   
                    .span Catalog
                    +svg('chevron-right', ' hamburer-shevron--mobile')
                a.navigation__item--mobile.navigation__registration-mobile(href="#") 
                    +svg('user')
                    | Log in / register
                a.navigation__item--mobile.navigation__favorites-mobile(href="#") 
                    +svg('heart-stroke')
                    | Favorites
                a.navigation__item--mobile.navigation__plan-mobile(href="#") 
                    +svg('plan')
                    | Selected services
                a.navigation__item--mobile.navigation__location-mobile(href="#") 
                    +svg('map-pin')
                    | New York
                a.navigation__item(href="#") Kitchen
                a.navigation__item(href="#") Hallway
                a.navigation__item(href="#") Bathroom
                a.navigation__item(href="#") Living room
                a.navigation__item(href="#") Bedroom

            .header__mobile-footer
                a.header__mobile-footer-item(href="#" target="_blank") Our contacts
                a.header__mobile-footer-item(href="#" target="_blank") Work with us
                a.header__mobile-footer-item(href="#" target="_blank") Privacy policy
                a.header__mobile-footer-item(href="#" target="_blank") User agreement
                p.header__mobile-footer-copyright © 2021, Copyright name


        .header__location-popup 
            .header__location-popup-question-container
                +svg('map-pin', ' header__location-popup-svg')
                p.header__location-popup-question Are you currently in &nbsp;
                    span New York
                | ?
            .header__location-buttons-container
                button.header__location-button-submit Yes
                button.header__location-button-change Choose another city