header.header
    .header__container 
        .header__container-top
            a.header__logo(href="index.html") 
                span Про
                span.header__logo--blue &nbsp;ремонт

            a.header__location(href='') 
                +svg('map-pin') 
                span.header__location-city Санкт-Петербург



            .header__search-container
                input.header__search-input(type='text' placeholder='Поиск...')
                +svg('search')

            a.header__link-item.header__working-plan(href="#" target="_blank")
                +svg('plan')
                span.header__working-plan-title План работ

            a.header__link-item.header__favorites(href="#" target="_blank")
                +svg('heart-stroke')
                span.header__favorites-title Избранное

            button.header__log-in-btn Войти
            

        .header__navigation-container
            button.header__navigation-hamburer-btn.js-hamburger-btn 
                +svg('grid-fill') 
                .span Каталог
            navigation.header__navigation.navigation
                .navigation__item Кухня
                .navigation__item Прихожая
                .navigation__item Ванная
                .navigation__item Гостиная
                .navigation__item Спальня



        .header__location-popup 
            .header__location-popup-question-container
                +svg('map-pin', ' header__location-popup-svg')
                p.header__location-popup-question Ваш город&nbsp;
                    span Санкт-Петербург
                | ?
            .header__location-buttons-container
                button.header__location-button-submit Да, верно
                button.header__location-button-change Выбрать другой