header.header
    .container 
        .header__inner
            .header__top-container
                a.header__logo(href="index.html") 
                    span Про
                    span.header__logo--blue ремонт
                .header__city-container
            .header__navigation-container
                a.menu-top__about О&nbsp;проекте