@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');


/* @include text-small; */

@mixin header-1{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    color: $black;
}

@mixin header-2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: $black;
}

@mixin header-3{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: $black;
}

@mixin header-4{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $black;
}

@mixin subheader{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $black;
}

@mixin body-regular{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $black;
}

@mixin text-regular{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $black;
}

@mixin body-medium{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: $black;
}