/**
 * SVG Icons Styles
 */

.icon {
	display: inline-block;
	//font-size: 10px;
}

.age12 {
	width:(63/63)*1em;
	height:1em;
}
.age12-h {
	width:(63/63)*1em;
	height:1em;
}
.age12-w {
	width:1em;
	height:(63/63)*1em;
}
.fb {
	width:(32/32)*1em;
	height:1em;
}
.fb-h {
	width:(32/32)*1em;
	height:1em;
}
.fb-w {
	width:1em;
	height:(32/32)*1em;
}
.inst {
	width:(40/40)*1em;
	height:1em;
}
.inst-h {
	width:(40/40)*1em;
	height:1em;
}
.inst-w {
	width:1em;
	height:(40/40)*1em;
}
.ok {
	width:(40/40)*1em;
	height:1em;
}
.ok-h {
	width:(40/40)*1em;
	height:1em;
}
.ok-w {
	width:1em;
	height:(40/40)*1em;
}
.user {
	width:(40/40)*1em;
	height:1em;
}
.user-h {
	width:(40/40)*1em;
	height:1em;
}
.user-w {
	width:1em;
	height:(40/40)*1em;
}
.vk {
	width:(40/40)*1em;
	height:1em;
}
.vk-h {
	width:(40/40)*1em;
	height:1em;
}
.vk-w {
	width:1em;
	height:(40/40)*1em;
}
