///
// Vars
///
// Container break-points
$grid-breakpoints: (
	min: 0px,
	mobile: 320px,
	tablet: 768px,
	desktop: 1280px
);

// Colors 
$blue: #0A9CE5;
$black:#111111;
$grey: #8F8F8F;
$light-blue: #ECF6FB;
$white: #FFFFFF;
$light-grey: #F5F5F5;
$orange: #F47D0E;
$red:#F41C0E;
$green: #00B300;
$light-beige: #FEF2E7;
$light-green: #E5F7E5;