///
// Vars
///

$maxMobileValue: 768px;
$maxTabletValue: 1150px;

// Colors 
$blue: #0A9CE5;
$black:#111111;
$grey: #8F8F8F;
$grey-border: #E0E0E0;
$light-blue: #ECF6FB;
$white: #FFFFFF;
$light-grey: #F5F5F5;
$orange: #F47D0E;
$red:#F41C0E;
$green: #00B300;
$light-beige: #FEF2E7;
$light-green: #E5F7E5;