footer.footer
    .footer__container
        .footer__container-top
            a.footer__logo(href="index.html") 
                span Про
                span.footer__logo--blue &nbsp;ремонт
            a.footer__links-item(href="#" target="_blank") Контакты
            a.footer__links-item(href="#" target="_blank") Сотрудничество
            a.footer__links-item(href="#" target="_blank") Команда

            .footer__social-networks-container 
                a.footer__social-networks-item(href="#" target="_blank") 
                a.footer__social-networks-item(href="#" target="_blank") 
                a.footer__social-networks-item(href="#" target="_blank") 


        

        .footer__container-bottom
            .footer__copyright © 2021, Про Ремонт
            a.footer__links-item(href="#" target="_blank") Политика конфиденциальности
            a.footer__links-item(href="#" target="_blank") Правила пользования

