.footer{
    width: 100%;
    background: $white;
    padding: 0 64px;

    &__container{
        max-width: 1312px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;
            align-items: center;
            padding: 14px 0px;
            padding-bottom: 21px;
            border-bottom: 1px solid $grey-border;
        }


    }

    &__logo{
        @include header-1;
        text-transform: uppercase;
        text-transform: uppercase;
        letter-spacing: -4px;
        margin-right: 63px;

        &--blue {
            color: $blue;
        }
    }

    &__links-item {
        @include subheader;
        margin-right: 65px;
    }


    &__social-networks-container {
        margin-left: auto;

        .footer__social-networks-item {
            margin-left: 20px;
        }

        .footer__social-img {
            width: 32px;
            height: 32px;
        }
    }




    &__container-bottom {
        display: flex;
        align-items: center;
        padding: 25px 0px;
        
        .footer__copyright {
            @include body-regular;
            color: $grey;

            margin-right: 121px;
        }

        .footer__links-item {
            @include body-regular;
        }
    }

   
}

