.footer{
    width: 100%;
    background: $white;
    padding: 0 64px;

    &__container{
        max-width: 1312px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;
            align-items: center
        }


        &-bottom {
            display: flex;
            align-items: center
        }
    }

    &__logo{
        @include header-1;
        text-transform: uppercase;

        &--blue {
            color: $blue;
        }
    }

   
}

