footer.footer
    .footer__container
        .footer__container-top
            a.footer__logo(href="index.html") 
                +svg('logo', ' footer__logo-svg')

            .footer__links-item-container--top
                a.footer__links-item(href="#" target="_blank") Контакты
                a.footer__links-item(href="#" target="_blank") Сотрудничество
                a.footer__links-item(href="#" target="_blank") Команда

            .footer__social-networks-container 
                a.footer__social-networks-item(href="#" target="_blank") 
                    +svg('facebook', ' footer__social-img')
                a.footer__social-networks-item(href="#" target="_blank") 
                    +svg('instagram', ' footer__social-img')
                a.footer__social-networks-item(href="#" target="_blank") 
                    +svg('vk', ' footer__social-img')


        

        .footer__container-bottom
            .footer__copyright © 2021, Про Ремонт
            a.footer__links-item(href="#" target="_blank") Политика конфиденциальности
            a.footer__links-item(href="#" target="_blank") Правила пользования

