.footer{
    width: 100%;
    background: $white;
    padding: 0 64px;

    &__container{
        max-width: 1312px;
        margin: 0 auto;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        flex-direction: column;

        &-top{
            display: flex;
            align-items: center;
            padding: 14px 0px;
            border-bottom: 1px solid $grey-border;
        }


    }

    &__logo{
        @include header-1;
        text-transform: uppercase;

        &--blue {
            color: $blue;
        }
    }


    &__social-networks-container {
        margin-left: auto;

        .footer__social-img {
            width: 32px;
            height: 32px;
        }
    }




    &__container-bottom {
        display: flex;
        align-items: center;
        padding: 14px 0px;
        
        .footer__copyright {
            @include body-regular;
            color: $grey;
        }
    }

   
}

