.main__slider
  .swiper-container.main__slider-swiper
    .main__slider-buttons
      .main-slider-button.main__slider-button-prev
          +svg('chevron-left', ' main__slider-button-svg')
      .main-slider-button.main__slider-button-next
          +svg('chevron-right', ' main__slider-button-svg')

    .swiper-wrapper
      .swiper-slide
        .main__slider-container
          img.main__slider-swiper-img(src="../../assets/images/rectangle 15.png")
          .main__slider-text
            p.main__slider-text--bold Slider title
            p.main__slider-text--regular Slider subtitle
      .swiper-slide
        .main__slider-container
          img.main__slider-swiper-img(src="../../assets/images/rectangle 15.png")
          .main__slider-text
            p.main__slider-text--bold Slider title
            p.main__slider-text--regular Slider subtitle


