.main__slider
  .swiper-container.main__slider-swiper
    .main__slider-buttons
      .main-slider-button.main__slider-button-prev
          +svg('chevron-left', ' main__slider-button-svg')
      .main-slider-button.main__slider-button-next
          +svg('chevron-right', ' main__slider-button-svg')

    .swiper-wrapper
      .swiper-slide
        .main__slider-container
          img.main__slider-swiper-img(src="https://images.unsplash.com/photo-1634712282287-14ed57b9cc89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80")
          .main__slider-text
            p.main__slider-text--bold Slider title
            p.main__slider-text--regular Slider subtitle
      .swiper-slide
        .main__slider-container
          img.main__slider-swiper-img(src="https://images.unsplash.com/photo-1634712282287-14ed57b9cc89?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1206&q=80")
          .main__slider-text
            p.main__slider-text--bold Slider title
            p.main__slider-text--regular Slider subtitle


