.main__slider {
  margin: 0 auto;
  max-width: 1312px;
  min-width: 414px;
  height: 480px;
  border-radius: 8px;
  position: relative;
  margin-top: 25px;
  width: 91.1%;
  overflow-x: hidden;

  .main__slider-swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .main-slider-button {
    display: none;
    cursor: pointer;
    width: 44px;
    height: 44px;

    justify-content: center;
    align-items: center;
    background: $white;

    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

    /* item hover */

    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border-radius: 22px;
  }

  &:hover .main-slider-button {
    display: flex;
  }

  .main__slider-button-prev {
    left: 12px;
  }

  .main__slider-button-next {
    right: 12px;
  }

  .main__slider-button-svg {
    stroke: $blue;
    stroke-width: 2.66667px;
    width: 32px;
    height: 32px;
  }

  .main__slider-text {
    width: 385px;
    position: absolute;
    z-index: 2;
    top: 164px;
    left: 66px;
  }

  .main__slider-text--bold {
    @include header-1;
    padding-bottom: 17px;
  }

  .main__slider-text--regular {
    @include subheader;
    line-height: 24px;
  }
}

@media (max-width: $maxMobileValue) {
  .main__slider {
    height: 500px;
    margin-top: 22px;

    .main__slider-swiper-img {
      width: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }

    .main__slider-swiper {
      width: 92%;

      .swiper-slide {
        width: 100%;

        .main__slider-swiper-img {
          height: 500px;
          object-fit: cover;
        }
      }
    }

    .main__slider-buttons {
      display: none;
    }

    .main__slider-text {
      top: 63px;
      left: 23px;
      width: 94%;

      .main__slider-text--bold {
        @include header-2;
        line-height: 38px;
      }

      .main__slider-text--regular {
        @include subheader;
        line-height: 24px;
      }
    }
  }
}
