include _mixins.pug
include _svg.pug
<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        <meta property="og:title" content="" />
        <meta property="og:description" content="" />
        <meta property="og:image" content="" />
        title Все о ремонте
        include _styles.pug

        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.ico"/>
             
    body
        .wrapper
            .header-wrapper 
                include components/header/header
                include components/hamburger-menu/hamburger-menu

            main
                

                include components/main-page/main-slider/main-slider
                include components/main-page/adv-block/adv-block
                include components/main-page/pop-works/pop-works
                include components/main-page/pop-articles/pop-articles

                include components/main-page/adv-block/adv-block
                include components/main-page/new-videos/new-videos
                include components/main-page/subscription-block/subscription-block


            include components/footer/footer
            include components/popups/popups
            include _scripts.pug