section.new-videos
    .new-videos__container
        h2.new-videos__title New videos
        .new-videos__slider-buttons
                .new-videos__slider-button.new-videos__slider-button-prev
                    +svg('chevron-left', ' new-videos__slider-button-svg')
                .new-videos__slider-button.new-videos__slider-button-next
                    +svg('chevron-right', ' new-videos__slider-button-svg')

        .swiper-container.new-videos__slider-swiper

            .swiper-wrapper

                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="https://images.unsplash.com/photo-1599619585752-c3edb42a414c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Video title
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264

                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="https://images.unsplash.com/photo-1468174482686-1047396f13b3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
                            //- img.new-videos__item-photo(src="../../assets/images/Rectangle 5-3.jpg")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Video title
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264


                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="https://images.unsplash.com/photo-1584622650111-993a426fbf0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Video title
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264


                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="https://images.unsplash.com/photo-1607400201515-c2c41c07d307?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Video title
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264



