.new-videos
    .new-videos__container
        h2.new-videos__title Новые видео
        .new-videos__slider-buttons
                .new-videos__slider-button.new-videos__slider-button-prev
                    +svg('chevron-left', ' new-videos__slider-button-svg')
                .new-videos__slider-button.new-videos__slider-button-next
                    +svg('chevron-right', ' new-videos__slider-button-svg')

        .swiper-container.new-videos__slider-swiper

            .swiper-wrapper

                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="../../assets/images/Rectangle 5.png")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Обзор технологий 
                                    br 
                                    | нанесения
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264

                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="../../assets/images/Rectangle 5-3.png")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Когда требуется 
                                    br 
                                    | установка маяков
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264


                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="../../assets/images/Rectangle 5-1.png")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Подготовка основания под штукатурку
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264


                .swiper-slide
                    .new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' new-videos__fav-icon')
                        a.new-videos__link-to-video(href="#")
                            img.new-videos__item-photo(src="../../assets/images/Rectangle 5-2.png")
                            .new-videos__play-btn
                                +svg('youtube', ' new-videos__youtube-icon')
                        .new-videos__item-container
                            a(href="#")
                                h3.new-videos__item-title Требования к высыханию штукатурки
                            .new-videos__likeNviews 
                                .new-videos__likes
                                    +svg('heart-fill', ' new-videos__like-icon')
                                    span.new-videos__likes-number 200
                                .new-videos__views
                                    +svg('eye-fill', ' new-videos__views-icon')
                                    span.new-videos__views-number 1 264



