.new-videos
    .new-videos__container
        h2.new-videos__title Новые видео
        .new-videos__slider-buttons
                .new-videos__slider-button.new-videos__slider-button-prev
                    +svg('chevron-left', ' new-videos__slider-button-svg')
                .new-videos__slider-button.new-videos__slider-button-next
                    +svg('chevron-right', ' new-videos__slider-button-svg')

        .swiper-container.new-videos__slider-swiper

            .swiper-wrapper
                .swiper-slide
                    a.new-videos__item
                        a.new-videos__add-to-fav(href="#")
                            +svg('heart', ' pop-articles__fav-icon')
                        img.new-videos__item-photo(src="../../assets/images/Rectangle 5.png")
                        .new-videos__item-container
                            h3.new-videos__item-title Ручное оштукатуривание стен из газобетона
                            .new-videos__item-description



