section.hamburger.js-hamburger-menu
  ul.hamburger__left-menu
      a.hamburger__back-btn-mobile(href="#")
        +svg('chevron-left', ' hamburger__back-svg')
        | Каталог
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Стены
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Пол
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Потолок
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Окна
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Инсоляция
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Двери
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Электрика
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Микроклимат
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Сантехника
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Интернет
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Малоточка
          +svg('chevron-right')
      li.hamburger__left-menu-item
        a.hamburger__left-menu-item-link(href="#") Развлечения
          +svg('chevron-right')


  



  .hamburger__right-menu
    .hamburger__right-menu-item
      h2.hamburger__screen-title Стены
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
      

    .hamburger__right-menu-item
      h2.hamburger__screen-title Пол
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
      

    .hamburger__right-menu-item
      h2.hamburger__screen-title Потолок
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Окна
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Инсоляция
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Двери
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Электрика
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Микроклимат
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Сантехника
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Интернет
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Малоточка
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы


    .hamburger__right-menu-item
      h2.hamburger__screen-title Развлечения
      .hamburger__screen-list-container
        .hamburger__column.hamburger__left-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Напольное покрытие
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Натуральный камень
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Плитка / керамогранит
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Линолеум
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Ламинат
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") Паркет

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Гидроизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Подогрев
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__center-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Выравнивание
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Стыки покрытия
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Реставрация
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


        .hamburger__right-column
          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Шумоизоляция
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name


          ul.hamburger__screen-list 
            a.swiper-slide-title-link(href="#") Плинтусы
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name
            li.hamburger__screen-list-item
              a.swiper-slide-link(href="#") subsection name

        .hamburger__adv-column 
          ul.hamburger__adv-list
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
            li.hamburger__adv-item
              p.hamburger__adv-title Место для рекламы
                

  
    