
.hamburger {
    display: none;
    max-width: 1312px;
    

    margin: 0 auto;




 
    .hamburger__back-btn-mobile {
        display: none;
    }
    .hamburger__left-menu {
        height: 636px;
        width: 261px;
        width: 19.8%;
        min-width: 176px;
        padding: 17px 3px;
        border-right: 1px solid $grey;
       
        display: flex;
        flex-direction: column;
        align-items: flex-start;

            .hamburger__left-menu-item {
                width: 94%;
                border-radius: 6px;
                position: relative;
                cursor: pointer;
                height: auto;
               /*  padding: 10px; */

                .hamburger__left-menu-item-link {
                    display: block;
                    width: 100%;
                    padding: 10px;
                }


                &.select {
                    color: $blue;
                    background-color: $light-blue;
                }

                &:hover {
                    color: $blue;
                    background-color: $light-blue;
                }

                &:hover .chevron-right {
                    stroke: $blue;
                }

                &:active .chevron-right {
                    stroke: $blue;
                }


                &:active {
                    color: $blue;
                    background-color: $light-blue;
                }


            }
            

            .chevron-right {
                position: absolute;
                right: 9px;
                width: 20px;
                height: 20px;
                stroke: $grey;

            }
                
    
        
    }

    .hamburger__right-menu {
       /*  height: 636px; */
        min-height: 636px;
        width: 80%;
        padding-left: 44px;
        padding-top: 24px;

        .hamburger__right-menu-item {
            /* height: 636px;
            overflow-y: scroll; */
        }


        .swiper-slide {
            display: block;
            overflow: auto;
        }

        .hamburger__screen-list {
            padding-bottom: 33px;
        }

        .hamburger__screen-list-container {
            display: flex;
            flex-wrap: wrap;
        }

        .hamburger__column {
            margin-right: 46px;
        }

        .hamburger__right-column {
           /*  margin-right: auto; */
        }

        .hamburger__screen-title {
            @include header-3;
            padding-bottom: 16px;
        }

        .swiper-slide-title-link {
            display: block;
            padding-bottom: 7px;

            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
        }

        .hamburger__screen-list-item {
            width: 241px;
            border-radius: 6px;
            cursor: pointer;
            padding: 8px;
            margin-left: -10px;



            @include body-regular;

            &:hover {
                color: $blue;
                background-color: $light-blue;
            }
        }
    }


    .hamburger__adv-column {
        margin-top: -9px;
        .hamburger__adv-item {
            width: 200px;
            height: 200px;
            margin-bottom: 16px;
            display: flex;
            justify-content: center;
            align-items: center;

            background: $light-grey;
            border: 1px solid $grey-border;
            box-sizing: border-box;
            border-radius: 8px;

            .hamburger__adv-title {
                font-family: 'Rubik';
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                color: #8F8F8F;
            }
        }
    }

.swiper-container {
    margin: 0;
    overflow: hidden;
    z-index: 1;
}
}





@media (max-width: $maxTabletValue) {
    .hamburger {
        width: 91.1%;

        .hamburger__back-btn-mobile {
            display: none;
        }
    }
}

@media (max-width: $maxMobileValue) {
    .hamburger {
        width: 100%;
        display: none;
     
           /* показать */

        
        .hamburger__left-menu {
            width: 93.1%;
            margin: 0 auto;
            border: none;
            height: auto;


            .hamburger__left-menu-item {
                width: 100%;
                .hamburger__left-menu-item-link {
                    padding: 18px 10px;
                }
            }
                

        }
        .hamburger__right-menu {
            display: none;
        }

        .hamburger__back-btn-mobile {
            display: flex;
            align-items: center;
        
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            padding-top: 3px;
            padding-bottom: 10px;
            margin-bottom: 10px;


            .hamburger__back-svg {
                width: 20px;
                height: 20px;
                stroke: $black;
                stroke-width: 1.66667px;
                margin-right: 15px;
            }
        }
    }


/*     .mobile-menu--show {
        position:absolute;
        display: flex;
        z-index: 2;
        width: 100%;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
    } */

}


.hide{
    display: none;
}

.show{
    display: block;
}



.hamburger-show {
    position:absolute;
    display: flex;
    z-index: 5;
    /* width: 92%; */
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;


    width: 100%;
    max-width: unset;
    padding: 0 4% ;

    @media (max-width: $maxTabletValue) {
        /* width: 91.1%; */

        width: 100%;
        max-width: unset;
        padding: 0 4.45%;
    }

    @media (max-width: $maxMobileValue) {
         position:absolute;
        display: flex;
        z-index: 2;
        width: 100%;
        top: 55px;
        left: 50%;
        transform: translateX(-50%);
        background-color: $white;

     
        
    }
}