.hamburger
  .swiper-container.hamburger__left-menu
    .swiper-wrapper
      .swiper-slide
        a.swiper-slide-link(href="#") Стены
      .swiper-slide
        a.swiper-slide-link(href="#") Пол
      .swiper-slide
        a.swiper-slide-link(href="#") Потолок
      .swiper-slide
        a.swiper-slide-link(href="#") Окна
      .swiper-slide
        a.swiper-slide-link(href="#") Инсоляция
      .swiper-slide
        a.swiper-slide-link(href="#") Двери
      .swiper-slide
        a.swiper-slide-link(href="#") Электрика
      .swiper-slide
        a.swiper-slide-link(href="#") Микроклимат
      .swiper-slide
        a.swiper-slide-link(href="#") Сантехника
      .swiper-slide
        a.swiper-slide-link(href="#") Интернет
      .swiper-slide
        a.swiper-slide-link(href="#") Малоточка
      .swiper-slide
        a.swiper-slide-link(href="#") Развлечения
    .swiper-scrollbar



  .swiper-container.hamburger__right-menu
  .swiper-wrapper
    .swiper-slide
      .hamburger__right-screen
        h2.hamburger__screen-title Пол
        .hamburger__screen-list-container
          ul.hamburger__screen-list 
            a.swiper-slide-link(href="#") Напольное покрытие
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Натуральный камень
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Плитка / керамогранит
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Линолеум
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Ламинат
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Паркет

                
    .swiper-slide
      .hamburger__right-screen
        h2.hamburger__screen-title Пол
        .hamburger__screen-list-container
          ul.hamburger__screen-list 
            a.swiper-slide-link(href="#") Напольное покрытие
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Натуральный камень
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Плитка / керамогранит
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Линолеум
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Ламинат
              li.hamburger__screen-list-item
                a.swiper-slide-link(href="#") Паркет
 
  .swiper-scrollbar