.pop-articles
    .pop-articles__container
        h2.pop-articles__title Популярные статьи
        .pop-articles__items
            .pop-articles__item.pop-articles__item--wide.pop-articles__item--1
                .pop-articles__image-wide
                .pop-articles__text-container
                    h2.pop-articles__article-title Штукатурные работы
                    p.pop-articles__description Производятся для выравнивания раствором поверхностей стен и потолков под последующую окраску или для защиты конструкций от механических и температурных воздействий различных сред.
                    .pop-articles__likeNviews 
                        .pop-articles__likes
                        .pop-articles__views