.pop-articles {
    width: 100%;
    margin-bottom: 48px;


    
    .pop-articles__container {
        margin: 0 auto;
        max-width: 1180px;
        position: relative;

        .pop-articles__item-link {
            display: block;
        }
    }

    .pop-articles__title {
        @include header-3;
        margin-top: 44px;
        margin-bottom: 23px;



    }

    .pop-articles__items {
        display: flex;
        flex-wrap: wrap;
    }

    .pop-articles__item {
        height: 331px;
        display: block;
        margin-right: 25px;
        margin-bottom: 25px;
   
        background-color: #F5F5F5;


        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 8px;

        position: relative;

        .pop-articles__add-to-fav {
            display: none;
            cursor: pointer;
            position: absolute;
            top: 6px;
            right: 8px;
            width: 32px;
            height: 32px;
            background-color: rgba(17, 17, 17, .5);
           
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            .pop-articles__fav-icon {
                stroke: $white;
                stroke-width: 1.33333px;
            }
        }
        
        &:hover .pop-articles__add-to-fav {
            display: flex;
        }

    }

    .pop-articles__item--wide-mobile {
        display: none;
    }

    .pop-articles__item--wide {
        max-width: 577px;
        width: 49%;
        display: flex;
       
        .pop-articles__image-wide {
            width: 50%;
            height: 331px;
            background-image: url('../../../assets/images/Rectangle 6.png');
            background-size: contain;
            background-repeat: no-repeat;
            position: relative;    
            line-height: 0;
            
            &::after {
                content: "";
                display: block;    
                width: 100%;
                height: 100%;    
                position: absolute;
                top: 0;      
                left: 0;   
                background: transparent;
                background-image: linear-gradient(90.01deg, rgba(245, 245, 245, 0) 50.21%, #F5F5F5 99.99%);;
                /* opacity: 0.8; */
            }
        }


        .pop-articles__text-container {
            width: 50%;
            height: 100%;
            margin-left: auto;
            padding: 13px;
            padding-top: 87px;

            display: flex;
            flex-direction: column;


            .pop-articles__article-title {
                margin-bottom: 16px;
            }
        }
    }

    .pop-articles__item--narrow {
        max-width: 276px;
        width: 23.4%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;


        .pop-articles__text-container {
/*             height: 100%;
            margin-left: auto; */
            padding: 13px;
            padding-top: 75px;

            display: flex;
            flex-direction: column;
        }

        .pop-articles__article-title {
            margin-bottom: 10px;
        }


    }

    .pop-articles__article-title {
        @include header-4;
        
    }

    .pop-articles__description {
        @include grey-text;
    }

    .pop-articles__likeNviews  {
        margin-top: auto;

        display: flex;
        align-items: center;

        font-family: 'Rubik';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;

        .icon {
            margin-right: 2px;
        }

        .pop-articles__likes {
            display: flex;
            align-items: center;

            margin-right: 22px;

            .pop-articles__like-icon {
                width: 12px;
                height: 12px; 
            }

        }

        .pop-articles__views {
            display: flex;
            align-items: center;
            
            .pop-articles__views-icon {
                width: 12px;
                height: 12px; 
            }
        }

    }


    .pop-articles__item--2 {
        background-image: url('../../../assets/images/Rectangle 6 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pop-articles__item--3 {
        margin-right: 0;
        background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pop-articles__item--4 {
        margin-bottom: 0;
        background-image: url('../../../assets/images/Rectangle 6 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pop-articles__item--5 {
        margin-bottom: 0;
        background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pop-articles__item--6 {
        margin-bottom: 0;
        background-image: url('../../../assets/images/Rectangle 6 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .pop-articles__item--7 {
        margin-right: 0;
        margin-bottom: 0;
        background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.pop-articles--no-swiper {
    /* adaptive */
    height: 690px;
}


@media (max-width: 415px) {
    .pop-articles {
        width: 100%;
        margin-bottom: 48px;
        .pop-articles__container {
           width: 92%;
    
            .pop-articles__item-link {
                display: block;
            }
        }
    
        .pop-articles__title {
            margin-top: 35px;
            margin-bottom: 16px;
    
    
    
        }
    
        .pop-articles__items {
            display: flex;
            flex-wrap: wrap;
        }
    
        .pop-articles__item {
            height: 331px;
            display: block;
            margin-right: 25px;
            margin-bottom: 25px;
       
            background-color: #F5F5F5;
    
    
            border: 1px solid #E0E0E0;
            box-sizing: border-box;
            border-radius: 8px;
    
            position: relative;
    
            .pop-articles__add-to-fav {
                display: none;
                cursor: pointer;
                position: absolute;
                top: 6px;
                right: 8px;
                width: 32px;
                height: 32px;
                background-color: rgba(17, 17, 17, .5);
               
                justify-content: center;
                align-items: center;
                border-radius: 4px;
    
                .pop-articles__fav-icon {
                    stroke: $white;
                    stroke-width: 1.33333px;
                }
            }
            
            &:hover .pop-articles__add-to-fav {
                display: flex;
            }
    
        }

        .pop-articles__item--wide {
            display: none;
        }

        .pop-articles__item--wide-mobile {
            max-width: 577px;
            width: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
           
            .pop-articles__image-wide {
                width: 100%;
                height: 331px;
                background-image: url('../../../assets/images/Rectangle 6.png');
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;    
                line-height: 0;
                
            /*     &::after {
                    content: "";
                    display: block;    
                    width: 100%;
                    height: 100%;    
                    position: absolute;
                    top: 0;      
                    left: 0;   
                    background: transparent;
                    background-image: linear-gradient(90.01deg, rgba(245, 245, 245, 0) 50.21%, #F5F5F5 99.99%);;
                    /* opacity: 0.8; */
                /*} */
            }
    
    
            .pop-articles__text-container {
                width: 100%;
                height: 100%;
                padding: 13px;
                /* padding-top: 87px; */
    
                display: flex;
                flex-direction: column;
    
    
                .pop-articles__article-title {
                    margin-bottom: 16px;
                }
            }
        }
    
        .pop-articles__item--narrow {
            max-width: 276px;
            width: 23.4%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
    
    
            .pop-articles__text-container {
    /*             height: 100%;
                margin-left: auto; */
                padding: 13px;
                padding-top: 75px;
    
                display: flex;
                flex-direction: column;
            }
    
            .pop-articles__article-title {
                margin-bottom: 10px;
            }
    
    
        }
    
        .pop-articles__article-title {
            @include header-4;
            
        }
    
        .pop-articles__description {
            @include grey-text;
        }
    
        .pop-articles__likeNviews  {
            margin-top: auto;
    
            display: flex;
            align-items: center;
    
            font-family: 'Rubik';
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
    
            .icon {
                margin-right: 2px;
            }
    
            .pop-articles__likes {
                display: flex;
                align-items: center;
    
                margin-right: 22px;
    
                .pop-articles__like-icon {
                    width: 12px;
                    height: 12px; 
                }
    
            }
    
            .pop-articles__views {
                display: flex;
                align-items: center;
                
                .pop-articles__views-icon {
                    width: 12px;
                    height: 12px; 
                }
            }
    
        }
    
    
        .pop-articles__item--2 {
            background-image: url('../../../assets/images/Rectangle 6 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .pop-articles__item--3 {
            margin-right: 0;
            background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .pop-articles__item--4 {
            margin-bottom: 0;
            background-image: url('../../../assets/images/Rectangle 6 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .pop-articles__item--5 {
            margin-bottom: 0;
            background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .pop-articles__item--6 {
            margin-bottom: 0;
            background-image: url('../../../assets/images/Rectangle 6 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .pop-articles__item--7 {
            margin-right: 0;
            margin-bottom: 0;
            background-image: url('../../../assets/images/Rectangle 6-1 copy.png');
            background-size: contain;
            background-repeat: no-repeat;
        }
    
    }
    
}