.adv__place {
    max-width: 1180px;
    height: 90px;
    margin: 33px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    background: $light-grey;
    border: 1px solid $grey-border;
    border-radius: 8px;


    .adv__place-text {
        font-family: 'Rubik';
        font-style: normal;
        font-size: 12px;
        line-height: 14px;
        color: $grey;
    }
}

@media (max-width: $maxTabletValue) {
    .adv__place {
        width: 91.1%;
        margin: 24px auto;
    }
}

@media (max-width: $maxMobileValue) {
    .adv__place {
        width: 92%;
        margin: 24px auto;
    }
}