.subscription {
    width: 100%;
    margin-bottom: 30px;

    .subscription__form {
        margin: 0 auto;
        padding: 48px 65px;
        max-width: 1312px;
        position: relative;
        background: $light-grey;
        border-radius: 8px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .subscription__text {

            .subscription__title {
                @include header-3;
                padding-bottom: 16px;
            }

            .subscription__subtitle {
                @include subheader;
            }
        }

        .subscription__inputs {

            .subscription__email {
                padding: 12px;
                margin-right: 20px;
                margin-bottom: 10px;
                height: 40px;
                width: 377px;

                background: #FFFFFF;

                border: 1px solid #E0E0E0;
                box-sizing: border-box;
                border-radius: 6px;



                @include grey-text;
                line-height: 16px;

            }

            .subscription__submit {
                cursor: pointer;
                width: 177px;
                height: 40px;
                border: none;
                background: $blue;
                @include text-regular;
                color: $white;
                border-radius: 6px;

            }
            .subscription__agreement-p {
                @include grey-text;

                .subscription__agreement-link {
                    color: $blue;
                }
            }
        }
    }
}


@media (max-width: $maxTabletValue) {
    .subscription {

        margin-top: -24px;
        .subscription__form {
            width: 91.1%;
            padding: 24px;
    
            .subscription__text {
    
                .subscription__title {
                    @include header-4;
                    padding-bottom: 16px;
                }
    
                .subscription__subtitle {
                    padding-bottom: 25px;
                }
            }
    
            .subscription__inputs {
                width: 100%;
    
                .subscription__email {

                    width: 100%;   
                    margin-bottom: 16px; 
                }
    
                .subscription__submit {
                    margin-bottom: 10px;
    
                }
                .subscription__agreement-p {
                    @include grey-text;
    
                    .subscription__agreement-link {
                        color: $blue;
                    }
                }
            }
        }
    }
    
}


@media (max-width: $maxMobileValue) {
    .subscription {

        margin-top: -24px;
        .subscription__form {
            width: 92%;
            padding: 24px;
    
            .subscription__text {
    
                .subscription__title {
                    @include header-4;
                    padding-bottom: 16px;
                }
    
                .subscription__subtitle {
                    padding-bottom: 25px;
                }
            }
    
            .subscription__inputs {
                width: 100%;
    
                .subscription__email {

                    width: 100%;   
                    margin-bottom: 16px; 
                }
    
                .subscription__submit {
                    margin-bottom: 10px;
    
                }
                .subscription__agreement-p {
                    @include grey-text;
    
                    .subscription__agreement-link {
                        color: $blue;
                    }
                }
            }
        }
    }
    
}