section.subscription
    form.subscription__form(action="#" method="POST")
        .subscription__text
            h4.subscription__title Please subscribe
            p.subscription__subtitle You will receive an email once a week
 
        .subscription__inputs
            input.subscription__email(type="text" placeholder="Введите ваш email" name="mail" required)
            button.subscription__submit(type="submit") Subscribe
            p.subscription__agreement-p By subscribing I confirm that I have read, consent and agree to our &nbsp;
                a.subscription__agreement-link(href="#" target="_blank") User Agreement


    