.subscription
    form.subscription__form(action="#" method="POST")
        .subscription__text
            h4.subscription__title Подпишитесь на рассылку
            p.subscription__subtitle Раз в неделю мы будем присылать последние материалы

        .subscription__inputs
            input.subscription__email(type="text" placeholder="Введите ваш email" name="mail" required)
            button.subscription__submit(type="submit") Подписаться
            p.subscription__agreement-p Нажимая “Подписаться” я соглашаюсь с 
                a.subscription__agreement-link(href="#" target="_blank") правилами пользования


    